.addressPage {
  width: 100%;
  
}
.addressPage > div {
  margin: 8px 0;

}

/* .sameAmountItem{
  margin-left: 5px;
} */

.sameAmountItem > * {
  margin-right: 5px;

}

.listFlex > *{
  margin-right: 10px;
}